version: '3'
services:

  nginx:
    image: nginx:1.13.7
    depends_on:
      - flask
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf

  flask:
    build: 
      context: ./
      dockerfile: Dockerfile
    hostname: flask
    depends_on:
      - mongo
    environment: 
      - MONGO_HOST=mongo
    command: gunicorn -b 0.0.0.0:8000 -w 2 main:manager

  mongo:
    image: mongo:3.4.22
